.form-control-date-filter {
    border-top: 1px solid #E4E6EF !important;
    border-right: none !important;
    border-bottom: 1px solid #E4E6EF !important;
    border-left: 1px solid #E4E6EF !important;
}

.input-group-text-filter {
    background-color: #FFFFFF !important;
    border-top: 1px solid #E4E6EF !important;
    border-right: 1px solid #E4E6EF !important;
    border-bottom: 1px solid #E4E6EF !important;
    border-left: none !important;
}