<ng-container >
  <div class="card card-custom" [formGroup]="formGroup">
  <div class="card card-custom" >
    <!-- begin::Loading -->
    <!-- <ng-container  -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal"> 
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Cambiar contraseña</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Cambiar la contraseña de su cuenta</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" (click)="save()">Guardar</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <!--begin::Alert-->
        <!-- <div class="alert alert-custom alert-light-danger fade show mb-10" role="alert"> -->
          <!-- <div class="alert-icon">
            <span class="svg-icon svg-icon-3x svg-icon-danger"
              [inlineSVG]="'./assets/media/svg/icons/Code/Info-circle.svg'"
              cacheSVG="true"
            >
            </span>
          </div> -->
          <!-- <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="ki ki-close"></i>
              </span>
            </button>
          </div> -->
        <!-- </div> -->
        <!--end::Alert-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Contraseña Actual <span class="required-field">*</span></label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid mb-2"
              placeholder="Contraseña actual"
              autocomplete="off"
              formControlName="contrasena_actual"
              [class.is-invalid]="isControlInvalid('contrasena_actual')"
              [class.is-valid]="isControlValid('contrasena_actual')" 
            />
            <div class="valid-feedback" *ngIf="isControlValid('contrasena_actual')">Current password was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'contrasena_actual')">First name is required</div>
            <!-- <a class="text-sm font-weight-bold cursor-pointer">Forgot password ?</a> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Nueva Contraseña <span class="required-field">*</span></label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nueva contraseña"
              autocomplete="off"
              formControlName="nueva_contrasena"
              [class.is-invalid]="isControlInvalid('nueva_contrasena')"
              [class.is-valid]="isControlValid('nueva_contrasena')" 
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Repetir nueva Contraseña <span class="required-field">*</span></label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="Confirmar contraseña"
              autocomplete="off"
              formControlName="nueva_contrasena_confirmation"
              [class.is-invalid]="isControlInvalid('nueva_contrasena_confirmation')"
              [class.is-valid]="isControlValid('nueva_contrasena_confirmation')" 
            />
            <div class="valid-feedback" *ngIf="isControlValid('nueva_contrasena_confirmation')">Password confirmation was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'nueva_contrasena_confirmation')">'Passsword' and 'Confirm Password' didn't match.</div> 
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--end::Form-->
  </div>
</ng-container>